<strong>What is this?</strong>
<p>
    This is live control over a little stirling engine in my apartment. I built the engine and hooked it up to the
    internet mostly for fun, but also because I wanted to give anonymous strangers on the internet
    control over an open flame 10 feet away from where I sleep. Seriously though, this is just a bit of fun. If
    the engine is off its most likely because I turned it off for whatever reason or it ran out of fuel.
</p>
<strong>How does it work?</strong>
<p>
    Stirling engines are pretty simple devices. They're powered by temperature differences. In this engine, heat is
    provided by a small alcohol burner. The burner is attached to a servo so it can move around
    underneath the engine. When the burner's flame is underneath the cylinder, the temperature difference increases
    so the engine speeds up. Similarly when the burner is moved away, it cools and slows down.
</p>
<p class="">
    The commanded RPM (set with the slider below) is fed into a simple PID controller that uses RPM as feedback. This
    controller moves the servo (and thus the flame) around to change or maintain engine speed based on sensed RPM. You
    can check out graphs of all this stuff below as the engine runs.
</p>
<strong>What code runs it?</strong>
<p>
    This entire thing is powered by a couple hundred lines of unfancy javascript. All hardware IO is done with
    firmata because I don't feel like writing arduino firmware. If you're a turbo nerd, the git repo for it is <a href="https://github.com/Stonelinks/enginelab" target="_blank">here</a>.
</p>