<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{productName}}</a>
            <a class="navbar-brand pull-right" href="#"><small>{{rpm}} RPM</small></a>
            <a class="navbar-brand pull-right" href="#"><small>{{users}} users</small></a>
        </div>
    </div>
</nav>